<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
    <!-- wp:group {"align":"full", "layout":{"inherit":true}} -->
    <div class="wp-block-group alignfull breadcrumb has-secondary-background-color">
        <!-- wp:group {"align":"wide", "layout":{"inherit":true}} -->
            <div class="wp-block-group alignwide ">
            <!-- wp:shortcode -->[wpseo_breadcrumb /]<!-- /wp:shortcode -->
            </div><!-- /wp:group -->
    </div><!-- /wp:group -->

<!-- wp:group {"tagName":"main", "align":"wide", "layout":{"inherit":true}} -->
<main class="wp-block-group alignwide">





    <!-- wp:group {"align":"wide", "layout":{"inherit":true}} -->
    <div class="wp-block-group page alignwide">        
    <!-- wp:group {"tagName":"article","align":"right",} -->
    <article class="wp-block-group alignright">

                
    <!-- wp:post-title {"level":1, 
        "style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--medium, 2rem)"}}}} /-->


        <!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
        <hr class="wp-block-separator alignwide is-style-wide"/>
        <!-- /wp:separator -->

        <!-- wp:post-content {"layout":{"inherit":true}} /-->

        </article><!-- /wp:group -->
    </div><!-- /wp:group -->
</main><!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->


